<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="c8c112f2-beaf-40b3-9fe2-eb417533d52e" Publisher="CN=AppStudio" Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="f20f8196-0eda-4505-872e-8c32c26874f4" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>AppStudio App</DisplayName>
    <PublisherDisplayName>AppStudio</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Fixing.App">
      <m3:VisualElements DisplayName="Fixing" Description="The application is your friend for study and learning! In this app your first step is put five question and answer. In your second step your can answer the same questions and watch, compare the answer. Thus helping you to understand and fix knowledge."
          Square150x150Logo="Assets\Logo.png"
          Square44x44Logo="Assets\SmallLogo.png"
          ForegroundText="light"
          BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png" ShortName="Fixing">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000"/>
        <m3:ApplicationView MinWidth="width320"/>
        <!--Used in XAML Designer. DO NOT REMOVE-->
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>

    </Application>
  </Applications>

  <!-- Microphone capability required for TextToSpeech -->
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>
